@media (max-width: 600px) {
    /* Mobile */
    div#login-box {
        width: 100%;
    }
    div#data-chart {
        width: 100%;
    }
    div#data-chart-sidebar {
        text-align: center;
    }
}
@media (min-width: 600px) {
    /* Desktop */
    div#login-box {
        width: 500px;
    }
    div#data-chart {
        width: 80vw;
        position: fixed;
        left: 0px;
    }
    div#data-chart-sidebar {
        text-align: center;
        position: fixed;
        right: 0px;
        float: right;
        width: 20vw;
        padding-top: 25px;
    }
    div#data-chart-sidebar input {
        width: 15ch;
    }
}
body {
    margin: 0px;
    font-family: 'Corbel','Segoe UI',sans-serif;
}
.hidden {
    display: none;
}
header,footer {
    padding-left: 2vw;
    padding-right: 2vw;
    height: 5vh;
    min-height: 30px;
    line-height: 5vh;
}
footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
}
header {
    top: 0px;
    background-color: #ccc;
    position: -webkit-sticky;
    position: sticky;
    font-size: larger;
    font-weight: bolder;
}
img#logo {
    height: 4vh;
    vertical-align: middle;
    padding-right: 2ch;
}
a#title-link {
    text-decoration: none;
}
a {
    color: black;
    text-decoration: underline dotted black;
}
nav {
    text-align: right;
    float: right;
    font-size: initial;
    font-weight: initial;
}
#welcome-message {
    text-align: center;
}
#site-selector {
    margin-left: 6ch;
    margin-right: 6ch;
    width: 20ch;
}
main {
    width: 80vw;
    margin: 2vh auto;
}
form#add-new-trigger {
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer {
    background-color: #eee;
}
div#login, div#manage {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    position: fixed;
    background-color: #0006;
}
a#unshow-login-link, a#unshow-manage-link {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
}
div#login-box, div#manage-box {
    background-color: white;
    position: relative;
    height: 40vh;
    min-height: 440px;
    margin: auto;
    box-sizing: border-box;
    padding: 40px;
    top: 30vh;
    text-align: center;
}
div#manage-box {
    top: 10vh;
    height: 80vh;
    min-height: 500px;
    width: 80vw;
    min-width: 600px;
}
span#manage-header {
    font-size: x-large;
}
div#manage strong {
    font-size: large;
}
section {
    background-color: #eee;
    padding: 1ch;
    margin: 1ch;
    border: 1px solid #bbb;
}
div.showLoginMessage#login-box {
    min-height: 460px;
}
form.accountForm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
form.accountForm input {
    height: 3em;
    width: 100%;
    margin: 10px 0;
}
form.accountForm input[type="checkbox"] {
    height: 5em;
    text-align: center;
    margin: 0px 10px;
    vertical-align: middle;
    width: 4ch;
}
div#data-chart {
    min-height: 400px;
    height: 60vh;
}
table, tr, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
table {
    width: 100%;
}
.noborder {
    border: 0;
}
div#loading-overlay {
    background-color: #00000088;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}
div#loading-box {
    position: fixed;
    top: 30%;
    left: 45%;
    height: 100px;
    width: 100px;
    z-index: 2;
    text-align: center;
    background-color: white;
}
canvas {
    padding: 0;
}
ul {
    padding-left: 0px;
    text-align: left;
}
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
canvas.animate {
    animation-name: loading;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}